@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico-jeong {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.portfolio-item {
  cursor: pointer;
  margin-bottom: 1.8rem;
}
.modal-dialog {
  max-width: 80%;
  margin: auto; /* 줄일 때 옆에 붙는 오류 수정할 수 있음 */
}
.footer-a {
  text-decoration: none;
}

/* career section start */
.timeline {
  position: relative; /* relative > absolute? 무조건 씀 */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.timeline-item {
  padding: 20px 30px;
  position: relative;
  background-color: inherit; /* inherit : 상속받는다 >> 부모의 색깔을 받아서 적용됨 */
  width: 50%;
  opacity: 1;
  transform: translateY(20px);
  transition: all 0.5s ease; /* transition : 애니메이션 */
   /*
    ease : 천천-빠름-천천
    ease-in : 보통-빠르게
    ease-out : 보통-느리게
    ease-in-out : 천천-보통-천천
     (ease와 그래프 모양이 같은데, 기울기 변화 속도는 다르다)
   */
}
.timeline-item-content {
  padding: 20px;
  background-color: #ffffff ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.timeline-item:nth-child(odd) {
  left: 0;
}
.timeline-item:nth-child(even) {
  left: 50%;
}

.timeline-item:nth-child(odd)::before { /* ':' : / '::' : 요소 */
  content: "";
  position: absolute;
  border: 4px solid #ff9f55;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 50%;
  right: -8px;
  background-color: #ffffff;
  z-index: 1;
}

.timeline-item:nth-child(even)::before { /* ':' : / '::' : 요소 */
  content: "";
  position: absolute;
  border: 4px solid #ff9f55;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 50%;
  left: -8px;
  background-color: #ffffff;
  z-index: 1;
}
/* career section end */
