@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico-jeong {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.portfolio-item {
  cursor: pointer;
  margin-bottom: 1.8rem;
}
.modal-dialog {
  max-width: 80%;
  margin: auto; /* 줄일 때 옆에 붙는 오류 수정할 수 있음 */
}